In [1]:
# imports
import math
import numpy as np
from numpy.random import randn
from statsmodels.stats.weightstats import ztest

# Generate a random array of 50 numbers having mean 110 and sd 15
# similar to the IQ scores data we assume above
mean_iq = 110
sd_iq = 15/math.sqrt(50)
alpha =0.05
null_mean =100
data = sd_iq*randn(50)+mean_iq
# print mean and sd
print('mean=%.2f stdv=%.2f' % (np.mean(data), np.std(data)))

# now we perform the test. In this function, we passed data, in the value parameter
# we passed mean value in the null hypothesis, in alternative hypothesis we check whether the
# mean is larger

ztest_Score, p_value= ztest(data,value = null_mean, alternative='larger')
# the function outputs a p_value and z-score corresponding to that value, we compare the
# p-value with alpha, if it is greater than alpha then we do not null hypothesis
# else we reject it.

if(p_value < alpha):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

mean=110.19 stdv=1.75
Reject Null Hypothesis

In [2]:
import pandas as pd
from statsmodels.stats import weightstats as stests
     

df=pd.read_csv("/content/sample_data/california_housing_train.csv")
     

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [4]:
df.shape

(17000, 9)

In [6]:
df[['housing_median_age','total_bedrooms']].describe()

       housing_median_age  total_bedrooms
count        17000.000000    17000.000000
mean            28.589353      539.410824
std             12.586937      421.499452
min              1.000000        1.000000
25%             18.000000      297.000000
50%             29.000000      434.000000
75%             37.000000      648.250000
max             52.000000     6445.000000

In [8]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['total_bedrooms'], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.0
121.69528464972339

In [9]:
if pvalue<0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis rejected , Alternative hypothesis accepted

In [10]:
ztest,pval1=stests.ztest(df['total_bedrooms'],df['latitude'],value=100)
print(float(pval1))

0.0

In [11]:
if pval1>0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected